.footer{
    width: 100%;
    .footer-wrapper{
      position: relative;
        .footer-section{
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            .section-bg{
                position: absolute;
                top: 0;
                left: 0;
                height: 400px;
                width: 100%;
                background: url("../uploads/BS-SP.jpg") no-repeat;
                background-position: center;
                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #000;
                    opacity: .2;
                    z-index: 1;
                }
            }
            .footer-content{
               
                color: white;
                z-index: 1;
            }
        }
    }
}