<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Bách hóa ngọc minh</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/custom-bootstrap.css">
    <link rel="stylesheet" href="/css/canvas.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/css/sweetalert.css">
    <style type="text/css">
        .float{
            position:fixed;
            overflow: hidden;
            width:100%;
            height:10%;
            bottom:0px;
            right:0px;
            background-color:#0C9;
            color:#FFF;
            text-align:center;
            box-shadow: 2px 2px 3px #999;
            font-size: 150%;
        }

        .my-float{
            margin-top:22px;
        }
        #sanphamdachon{
            background-color: red;
            border-radius: 50%;
            font-size: 100%;
        }
    </style>
    <link rel="stylesheet" href="/css/hack.css">
</head>

<body class="home">
    <div class="wrapper overlay">   
        <header id="header">
            <div class="header-wrapper">
                <div class="header-main">
                    <div class="container" style="margin-left: 0">
                        <nav class="navbar navbar-expand-lg navbar-light" id="logohome">
                                <table>
                                    <tr>
                                        <td width="33%"><a class="navbar-brand" href="/"> <img  src="/img/bhngocminh.jpg" alt="sua-chua-mit-ngoc-minh"></a></td>
                                        <td>
                                        <h4>Sữa Chua Mít (Da Ua Mít) Yogurt - Ngọc Minh</h4>
                                    <span style="font-size: 100%">
                                        <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
Hợp Vệ Sinh</br>
                                        <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
Giao Hàng Tận Nơi</br>
                                    </span>
                                    <span style="color: red; font-weight: bold;font-size: 100%"><i class="fa fa-phone-square" aria-hidden="true"></i>
Hotline Đặt Hàng: 096 121 6330</span></td>
                                    </tr>
                                </table>

                        
                            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                            </div>
                        </nav>
                    </div>

                </div>
            </div>
        </header>
        <main class="main">
            <section class="section product-section">
                <div id="containersanpham" class="container" style="margin-left: 0px; margin-right: 0px; max-width: 100%">
                    <div class="bg section-bg fill bg-fill  bg-loaded"></div>
                    <div class="product">
                        <div class="product-inner">
                            <div id="listsanpham" class="row justify-content-left" style="margin-top: 10px;">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <input type="text" style="display: none;" id="magiamgiasave"></input>
        <input type="text" style="display: none;" id="sotiengiam"></input>
        <input type="text" style="display: none;" id="tongtiensaugiamgia"></input>
        <footer class="footer">
            <div class="footer-wrapper">
                </br>
                <h3 style="color: red"><i class="fa fa-home" aria-hidden="true"></i>
Địa Chỉ: Số 46/15 - Hẻm 113 Đường số 3 Cư Xá Lữ Gia P15 Q11
</h3>
                <section class="section footer-section">
                    <div class="section-bg ">

                    </div>

                    <div class="footer-content">

                                <button type="button" style="display: none" class="btn btn-success float" id="xemgiohang" onclick="opensidebar()">
                                    <i class="my-float">Xem giỏ hàng-</i>
                                    <i id="sospdachon">0</i>
                                    <i class="fas fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </footer>

    </div>
    <div id="cart-popup" class="widget_shopping_cart" style="max-width: 100%;">
        <div class="close-sidebar" id="sidebar" style="display: none">
            <button id="btn-close" class="btn-close ">X</button>
        </div>
        <div class="cart-popup-inner inner-padding">
            <div class="cart-popup-title text-center">
                <h4 class="uppercase">Giỏ hàng</h4>
                <div class="is-divider"></div>
            </div>
            <div class="cart-sidebar-content">
                <div class="row p-0 m-0">
                    <div class="col-12">
                        <ul id="cart-list" class="cart-list product-list-item">
                        </ul>
                        </br>
                        <center><strong>Mã Giảm Giá</strong></center>
                        <table style="width: 100%">
                            <tr>
                                <td width="80%"><input type="text" style="display: inline;" class="form-control" id="magiamgia"></td>
                                <td width="20%"><button type="button" class="btn btn-primary" onclick="Apdungmagiamgia()">Áp dụng</button></td>
                            </tr>
                        </table>
                        <span id="phishiphang" style="font-weight: bold;"></span>
                    </div>

                </div>
            </div>
            <div>
                
                
            </div>
            <div class="cart-total">
                <strong>Tạm tính:</strong>
                <span class="Price-amount"></span>
                <span class="Price-currencySymbol"></span>
            </div>
            <div class="cart-buttons">
                <button type="button" class="btn btn-dark" onclick="thanhtoan()">Thanh toán</button>
            </div>

        </div>
    </div>
    <div class="modal fade" id="ThanhToan" role="dialog">
                <div class="modal-dialog">
                
                  <div class="modal-content">
                    <div class="modal-header" style="background-color:#e8e9ea">
                      <h4 class="modal-title">Thanh Toán</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>    
                    </div>
                    <div class="modal-body">
                  <div>

                    <label> Họ Và Tên:<span style="color: red">*</span> </label>
                    <span id="yeucauhoten" style="color: red"></span>
                    <input type="text" class="form-control" rows="3" id="hoten" style="resize: none"></input>
                    <label> Số Điện Thoại:<span style="color: red">*</span> </label>
                    <span id="yeucausdt" style="color: red"></span>
                    <input type="text" class="form-control" rows="3" id="sdt" style="resize: none"></input>
                    <label> Địa Chỉ:<span style="color: red">*</span> </label>
                    <span id="yeucaudiachi" style="color: red"></span>
                    <input type="text" class="form-control" rows="3" id="diachi" style="resize: none"></input>
                    <label> Ghi Chú: </label>
                    <input type="text" class="form-control" rows="3" id="ghichu" style="resize: none"></input>
                  </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                  <button type="button" class="btn btn-success" onclick="DatHang()">Lưu</button>
                    </div>
                  </div>
                </div>
            </div>


</body>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/function.js"></script>
    <script src="js/sweetalert.min.js"></script>
</html>